[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
black = "*"
safety = "*"

[packages]
requests = "*"
ptable = "*"
PyYAML = ">=5.4"

[requires]
python_version = "3.6"
